@charset "UTF-8";
#memIdPro {
	margin-top: 50px;
	margin-left: 240px;
}

#memIdPro .main {
	border: 1px solid #dadada;
	width: 430px;
	padding:  35px 50px 35px 105px;
}

#memIdPro hr {
	display: inline-block;
	width: 498px;
}

#memIdPro .main hr {
	display: inline-black;
	width: 130px;
	border: none;
}

#memIdPro #id hr {
	width: 85px;
	border: 1px solid black;
}

#memIdPro #idDetail {
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}

#memIdPro .name {
	font-weight: bold;
	width: 80px;
}

#memIdPro .data {
	font-size: 15px;
}

#memIdPro .name, .data {
	display: inline-block;
}

#memIdPro input[type=text] {
	width: 217px;
	height: 23px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

#memIdPro input[type=button] {
	margin-top: 15px;
	padding: 5px 17px 8px 17px;
	background-color: white;
	border: 1px solid #dadada;
	margin-right: 3px;
	width: 120px;
}

#memIdPro input[type=button]:hover {
	cursor: pointer;
}

#memIdPro #login {
	margin-left: 167px;
	background-color: #04B404;
	color: white;
}