@charset "UTF-8";
#memLogin {
	margin-top: 50px;
	margin-left: 240px;
}

.inputBack {
padding:0px 10px 0px 10px;
border: 1px solid #dadada;
width: 460px;
height: 51px; 
}

.inputReal {
border: none;
width: 90%;
height: 29px;
font-size: 15px;
}

.imgDiv {
	display: inline-block;
	height: 51px;
	vertical-align: middle;
}

.imgDiv img {
	display: inline-block;
	position: relative;
	top: 50%;
	margin-top: -50%;
}

label {
	font-weight: bold;
	font-size: 15px;
}

.subject {
	padding-top: 15px;
	padding-bottom: 5px;
}
.outmsg {
	font-size: 12px;
	
}

input[type=submit] {
	width: 482px;
	height: 51px;
	color: #fff;
	font-size: 20px;
	background-color: #08a600;
	margin-top: 20px;
	cursor: pointer;
}

input[type=submit]:hover {
	cursor: pointer;
}

#menu {
	margin-top: 10px;

	font-size: 13px;
}

#menu a {
	color: black;
	text-decoration:none;
}

#menu a:hover {
	text-decoration: underline;
}

#idChkName {
	padding-right: 158px;
}

#idChkSpan input {
	vertical-align:-2px;
	
}

#idPwdMsg {
	font-size: 12.5px;
	color: #ff1616;
	font-family: Helvetica,Dotum,sans-serif;
	margin-top: 12px;
	margin-bottom: 20px;
}

#br {
	display: inline-black;
	padding-top: 3px;
}
