@charset "UTF-8";
	@charset "UTF-8";
#memPwd3 {
	margin-top: 200px;
	width: 100%;
	text-align: center;
}

.main {
	border: 1px solid #dadada;
	width: 430px;
	height: 300px;
	padding:  0px 50px 30px 70px;
}
hr {
	display: inline-block;
	width: 434px;
}
#id hr {
	width: 115px;
	border: 1px solid black;
}

.data {
	border: 1px solid #dadada;
	width: 298px;
	height: 32px;
	margin-top: 13px;
}

input[type=text] {
	width: 290px;
	height: 25px;
	border: 1px solid #ccc;
	margin-left: 5px;
	border: 1px solid #ffffff;

	outline: none;
}

input[type=submit] {
	padding: 5px 17px 8px 17px;
	background-color: white;
	border: 1px solid #dadada;
	margin-left: 235px;
	margin-top: 20px;
}

input[type=submit]:hover {
	cursor: pointer;
}

.idDetail {
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}

h4 {
	font-size: 15px;
	display: inline;
}

#mem_id {
		font-weight: bold;
		font-size: 15px;
		color: green;
}

.main .idDetail  {
	font-size: 13px;
	margin-left: -25px;
}

.main .idDetail h4 {
	font-size: 13px;
}

.idDetail li {
	margin-bottom: 8px;
}

#data_bottom {
	width: 480px;
	margin-left: -40px;
}
#data_bottom hr {
	margin-top: 25px;
	width: 480px;
}

#top {
	margin-top: 30px;
}

#idDetail {
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}

.idPwdMsg {
	font-size: 12.5px;
	color: #ff1616;
	font-family: Helvetica,Dotum,sans-serif;
	margin-top: 12px;
}

