a {
	text-decoration: none;
	color: white;
}
.body {
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 1000px;
	display: inline-block;
	margin-left: 350px;
    width: 1250px;
    z-index: 0;
}
.locList_reg {
	margin-top: 80px;
	margin-left: 30px;
	margin-bottom: 30px;
	font-size: 40px;
	height: 70px;
	width: 100px;
	text-align: center;
}
.locList_list {
	display: inline-block;
	text-align: center;
	margin-left: 70px;
	height: 300px; 
	width: 300px;
	margin-right: 30px;
	margin-bottom: 50px;
}
.locList_locname {
	display: inline-block;
	position: relative;
	top: -170px;
	left: 10px;
	font-size: 25px;
	font: bold;
}
.locList_locscore {
	display: inline-block;
	position: relative;
	top: -130px;
	left: -80px;
	font-size: 20px;
}
.locList_img {
	height: 100%;
	width: 100%;
	opacity: 0.7;
}
.locList_list:hover .locList_img {
	opacity: 1.0;
}
.locList_list:hover .locList_locname {
	opacity: 0;
}
.locList_list:hover .locList_locscore {
	opacity: 0;
}






.locView_loc {
	margin-top: 100px;
	height: 500px;
}
.locView_picture {
	margin: auto;
	width: 90%;
	height: 300px;
	text-align: center;
}
.locView_img {
	height: 100%;
	width: 80%;
}
.locView_locname {
	text-align: center;
	width: 200px;
	margin: auto;
	margin-top: 20px;
	font-size: 20px;
}
.locView_contents {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 90%;
	border-radius: 20px;
	padding: 5px;
	border: 1px solid #808080;
}
.locView_rev {
	margin-top: 50px;
}
.locView_allCount {
	margin-left: 150px;
}
.locView_allScore {
	position: relative;
	display: block;
	margin-left: 380px;
	margin-top: 90px;
	font-size: 50px;
	font: bold;
}
.locView_count {
	position: relative;
	left: 630px;
	top: -110px;
}
.locView_count5, .locView_count4, .locView_count3, .locView_count2, .locView_count1 {
	margin-top: 10px;
}
.locView_faceimg {
	height: 100x;
	width: 100px;
}
.locView_revTitle {
	margin-left: 450px;
}
.locView_revWriteForm {
	margin-bottom: 30px;
}
.locView_revWriteframe {
	display: inline-block;
	margin-left: 80px;
}
.locView_revWriteScoreFrame {
	margin-left: 380px;
	margin-bottom: 30px;
}
.locView_revWriteScore {
	position: relative;
	display: inline-block;
	margin-right: 15px;
}
.locView_revWrite {
	display: inline-block;
	padding-left: 80px;
}
.locView_revWriteImg {
	position: relative;
	display: inline-block;
	top: -50px;
	left: -20px;
}
.locView_revWriteContents {
	display: inline-block;
	top: -50px;
}
.locView_revWriteSubmit {
	position: relative;
	display: inline-block;
	left: -3px;
	top: -36px;
	height: 155px;
	width: 80px;
}
.locView_loginwant {
	margin-left: 400px;
	display: inline-block;
	text-align: center;
	margin-bottom: 30px;
	border-radius: 20px;
	padding: 5px;
	border: 1px solid #808080;
}
.radio {
	display: none;
}
.laimg {
	cursor: pointer;
	opacity: 0.5;
}
input:checked +.laimg {
	opacity: 1.0;
}
.locView_revDelete {
	position: relative;
	display: inline-block;
}
table {
	margin: auto;
	margin-bottom: 30px;
	width: 90%;
	text-align: center;
	border-radius: 20px;
	padding: 5px;
	border: 1px solid #808080;
}
.locView_revWriter {
	width: 150px;
}
.locView_revContents {
	height: 150px;
	width: 750px;
	text-align: left;
}
.locView_revScore {
	width: 100px;
}
.locView_revScorein {
	border-radius: 20px;
	background-color: red;
	color: white;
	width: 50px;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	left: 25px;
}
.locView_revDate {
	text-align: left;
}
.revView_contentsmodiform {
	display: none;
}
.modifyend {
	display: none;
}
.locView_revScoreinmodiform {
	display: none;
}
.modiradio {
	display: none;
}
.modiimg {
	height: 20px;
	width: 20px;
}