a {
	text-decoration: none;
}
body {
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 1100px;
	left: 10%;
	margin: auto;
}
.locList_reg {
	position: relative;
	top: 30px;
	left: 40px;
	font-size: 40px;
	height: 70px;
	width: 100px;
	text-align: center;
}
.locList_list {
	display: inline-block;
	text-align: center;
	margin-left: 30px;
	height: 300px; 
	width: 300px;
	margin-right: 30px;
	margin-top: 50px;
}
.locList_locname {
	display: inline-block;
	position: relative;
	top: -170px;
	left: 10px;
	font-size: 25px;
}
.locList_locscore {
	display: inline-block;
	position: relative;
	top: -130px;
	left: -80px;
	font-size: 20px;
}
.locList_img {
	height: 100%;
	width: 100%;
	opacity: 0.7;
}
.locList_list:hover .locList_img {
	opacity: 1.0;
}
.locList_list:hover .locList_locname {
	opacity: 0;
}
.locList_list:hover .locList_locscore {
	opacity: 0;
}






.locView_loc {
	position: relative;
	height: 500px;
	border-bottom: 1px solid gray;
}
.locView_picture {
	position: relative;
	top: 30px;
	margin: auto;
	width: 90%;
	height: 40%;
	text-align: center;
}
.locView_img {
	height: 100%;
	width: 80%;
}
.locView_locname {
	position: relative;
	top: 40px;
	text-align: center;
	width: 200px;
	margin: auto;
	font-size: 20px;
}
.locView_contents {
	position: relative;
	top: 70px;
	margin: auto;
	width: 90%;
}
.locView_rev {
	margin-top: 30px;
}
.locView_allCount {
	position: relative;
	left: 50px;
}
.locView_allScore {
	position: relative;
	left: 420px;
	top: 70px;
}
.locView_count {
	position: relative;
	left: 520px;
	top: -20px;
}
.locView_count5, .locView_count4, .locView_count3, .locView_count2, .locView_count1 {
	margin-top: 10px;
}
.locView_revTitle {
	display: inline-block;
	margin-left: 450px;
}
.locView_revWriteScoreFrame {
	margin-left: 430px;
	margin-bottom: 30px;
}
.locView_revWriteScore {
	position: relative;
	display: inline-block;
	margin-right: 15px;
}
.locView_revWrite {
	display: inline-block;
	padding-left: 80px;
}
.locView_revWriteImg {
	position: relative;
	display: inline-block;
	margin-right: 100px;
	top: -80px;
	left: 20px;
}
.locView_revWriteContents {
	display: inline-block;
	top: -50px;
}
.locView_revWriteSubmit {
	position: relative;
	display: inline-block;
	left: -3px;
	top: -36px;
	height: 155px;
	width: 80px;
}
.locView_loginwant {
	text-align: center;
}
.locView_revFrame {
	margin-top: 30px;
	margin-left: 50px;
	height: 200px;
	background-color: #D8D8D8;
	width: 90%;
}
.locView_revWriter {
	display: inline-block;
	margin-top: 100px;
	margin-left: 50px;
}
.locView_revContents {
	position: relative;
	display: inline-block;
	top: -50px;
	margin-left: 50px;
	width: 750px;
	height: 130px;
}
.locView_revDate {
	position: relative;
	display: inline-block;
	left: 160px;
	top: -70px;
}
.locView_revScore {
	position: relative;
	display: inline-block;
	left: 700px;
	top: -150px;
}
.locView_revModify {
	position: relative;
	display: inline-block;
	left: 600px;
	top: -70px;
}
.locView_revDelete {
	position: relative;
	display: inline-block;
	left: 600px;
	top: -70px;
}